.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  position: fixed;
  width: 100vw;

  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #daf7a6 60%, #e8f4cc);
}

.search-form > input {
  padding-left: 8px;
  padding-right: 8px;

  min-width: 300;
  height: 30;
  border: 1px solid #b0db61;
  border-radius: 6px;
}
